hr {
    border-bottom: 2px solid darkslategrey;
    margin: 2px;
}
#container {
    display: flex;
    justify-content: space-around;
}
.editMovie{
    border: 2px solid darkslategrey;
    padding: 15px;
    border-radius: 5px;
    background: whitesmoke;
}
.posters {
    padding: 10px 20px;
    border: 2px solid black;
    margin: 10px 5px 10px 5px;
    width: 340px;
    height: auto;
    border-radius: 5px;
}
.title{
   text-align: center;
    margin: 0;
}
img {
    width: 300px;
    height: 445px;
    padding-right: 5px;
}
.underImgContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.rating{
    flex-direction: column;
}
.director{
    flex-direction: column;
}
.genre{
    text-align: center;
    padding: 10px;
}
.description{
    padding: 12px;
    font-size: 110%;

}
.hidden1{
    display: none;
}
.rightSide{
    float: right;
}

.btn {
    margin: 10px;
    background-color: #09090a;
    color: whitesmoke;
}
.textBox{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.select{
    padding: 0 10px;
    height: 38px;
}
.deleteGroup{
    display: flex;
    align-items: center;
}
#delete-movie{
    margin: 0;
    background-color: rgb(203, 68, 74);
}